PORT=
MONGO_URI=your_mongodb_atlas_connection_string_here
JWT_SECRET=something_super_secret_and_long

# --- CLOUDINARY ---
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# --- EMAIL ---
SMTP_HOST=  
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=
FROM_EMAIL=
FROM_NAME=

# --- CLIENT URL (Frontend) ---
CLIENT_URL=